//Variables
$primary: #5d5d5d;

$green-1: #1fab89;
$green-2: #64e291;
$green-3: #27aa80;

//Utilites
.pb {
  padding-bottom: 2rem;
}

.pt {
  padding-top: 2rem;
}

.space {
  padding: 15rem;
}

//Mixins

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include resp(phone) {
    transform: translate(-46%, -7.5em);
  }
}

@mixin resp($device) {
  @if $device == phone {
    @media (min-width: 315px) and (max-width: 700px) {
      @content;
    }
  }

  @if $device == iphone {
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }

  @if $device == tab-vert {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $device == tab-hor {
    @media (max-width: 75em) {
      @content;
    }
  }
}

//Keyframes

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  75% {
    transform: translateX(1.3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  75% {
    transform: translateX(-1.3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

//Code

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-image: linear-gradient(to bottom left, $green-1, $green-2);
  overflow-x: hidden;

  @include resp(iphone) {
    background-color: $green-3;
  }
}

p {
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

hr {
  border: 1px solid $primary;
  width: 75%;
  margin: 0 auto;
}

.footer {
  position: relative;
  height: 15vh;
  background-color: $primary;

  @include resp(iphone) {
    height: 15vh;
  }

  @include resp(phone) {
    height: 15vh;
  }

  p {
    @include center;

    @include resp(iphone) {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }

    @include resp(phone) {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
}

nav {
  width: 75%;

  .navbar {
    z-index: 2;
    box-shadow: 0 10px 15px $primary;
    position: fixed;
    background-color: $green-2;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    @include resp(tab-vert) {
      a {
        font-size: 0.5em;
      }
    }

    @include resp(tab-hor) {
      a {
        font-size: 2em;
      }
    }

    @include resp(phone) {
      a {
        font-size: 1em;
      }
    }
  }

  .nav-item {
    list-style: none;

    .nav-link {
      text-decoration: none;
      color: black;
      transition: all 0.2s;

      @include resp(iphone) {
        font-size: 1.2em;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

.header {
  z-index: -1;
  height: 100vh;
  background-image: url(../img/Code.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .bio {
    @include center;

    color: #fff;
    text-align: center;

    &-name {
      font-size: 3.7rem;
      padding-bottom: 2rem;
      animation: moveLeft 1s;
      @include resp(iphone) {
        font-size: 3.2em;
      }
      @include resp(phone) {
        font-size: 3em;
      }
    }

    &-work {
      font-size: 2rem;
      letter-spacing: 1rem;
      animation: moveRight 1s;
      @include resp(iphone) {
        font-size: 1.5em;
      }
    }
  }
}

.about {
  .p-2 {
    font-size: 1.3rem;
    font-weight: 100;
  }

  @include resp(iphone) {
    padding: 2em;

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em;
      padding-bottom: 2em;
    }
  }

  @include resp(phone) {
    padding: 2em;

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em;
      padding-bottom: 2em;
    }
  }
}

.projects {
  p {
    padding-bottom: 9rem;
  }

  a {
    color: #fff;
  }

  @include resp(iphone) {
    padding: 2em;

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em;
      padding-bottom: 4em;
    }
  }

  @include resp(phone) {
    padding: 2em;

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em;
      padding-bottom: 2em;
    }
  }

  .project-1 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 4rem;
    position: relative;

    @include resp(iphone) {
      display: inline-block;
      text-align: center;
    }

    @include resp(phone) {
      display: inline-block;
      text-align: center;
    }

    .img-1 {
      img {
        width: 90%;
        background-size: cover;
      }

      @include resp(iphone) {
        display: none;
      }

      @include resp(phone) {
        display: none;
      }
    }

    .project-name-1 {
      h1 {
        font-size: 2.7rem;
      }

      a {
        display: none;
      }

      @include resp(iphone) {
        a {
          display: block;
          font-size: 3em;
        }

        h1 {
          display: none;
        }
      }

      @include resp(phone) {
        a {
          display: block;
          font-size: 3em;
        }

        h1 {
          display: none;
        }
      }
    }
  }

  .project-2 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 4rem;

    .img-2 {
      img {
        width: 100%;
        background-size: cover;
      }

      @include resp(iphone) {
        display: none;
      }

      @include resp(phone) {
        display: none;
      }
    }

    .project-name-2 {
      h1 {
        font-size: 2.7rem;
      }

      a {
        display: none;
      }

      @include resp(iphone) {
        a {
          display: block;
          font-size: 3em;
          text-align: center;
        }

        h1 {
          display: none;
        }
      }

      @include resp(phone) {
        a {
          display: block;
          font-size: 3em;
          text-align: center;
        }

        h1 {
          display: none;
        }
      }
    }
  }
}

.contact {
  height: 60rem;
  @include resp(iphone) {
    position: relative;
  }

  @include resp(phone) {
    position: relative;
  }
  .contact-section {
    @include resp(iphone) {
      text-align: center;
      position: absolute;
      transform: translate(-60%, -30%);
    }

    @include resp(phone) {
      text-align: center;
      position: absolute;
      transform: translate(-71%, -30%);
    }
    form {
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      padding-top: 3rem;
      text-align: center;

      .form-input {
        width: 50%;

        @include resp(iphone) {
          width: 75%;
        }

        @include resp(phone) {
          width: 75%;
        }
      }
    }

    @include resp(iphone) {
      h1 {
        font-size: 2.7em;
      }
    }

    @include resp(phone) {
      h1 {
        font-size: 2.7em;
      }
    }
  }
}

.button {
  margin: 0 auto;
  display: block;
  padding: 1rem;
  width: 38%;
  margin-top: 3rem;
  border-radius: 100px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $green-3;
    box-shadow: 0 10px 15px $primary;
    transform: translateY(-0.5rem);
    opacity: 0.8;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }

  @include resp(iphone) {
    width: 75%;
    margin-bottom: 1em;
  }

  @include resp(phone) {
    width: 75%;
    margin-bottom: 1em;
  }
}
